* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    list-style:none;
    outline:none; 
}

/*---Topbar---*/
#topbar {
    position: absolute;
    background: #181818;
    font-size: 15px;
    height: 40px;
    width: 100vw;
    padding: 0; 
  }
  .container__1{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 40px;
  }
  #topbar .contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 0;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    margin-right: 5px;
  }
  .email{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-left: 5px; 
  }
  #topbar .contact-info:hover {
    color: #fff;
    text-decoration: none;
  }
  .contact-redes{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .facebook{
      margin: 5px;
      width: 20px;
  }
  .instagram{
    margin: 5px;
    width: 20px;
}
.twitter{
    margin: 5px;
    width: 20px;
}
/*---finTopbar---*/
/*---inicioLogoNav---*/
.contenedor__nav{
    padding-top: 40px;
    width: 100vw;
}
.navegacion {
    height: 70px;
    background: #272727;
  }
  
  nav {
    float: left;
    width:100%;
  }
  
  .nav-menu {
    display:blocK;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background:#272727;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background: #420000;
    color: #ffffff;
  }
  
  nav ul li a:not(:only-child):after {
    padding-left: 5px;
    content: ' ▾';
  }
  
  .nav-movil {
    display: none;
    position: absolute;
    align-items: flex-end;
    top: 40px;
    left: 80vw;
    background: #272727;
    height: 70px;
    width: 100%;
  }
  
  @media screen and (max-width: 979px) {
    .nav-movil {
      display: block;
    }
  
    .nav-menu {
      display: none;
      margin-top: 55px;
      right: 80vw;
    }
    
    .nav-menu li {
      float: none;
      
    }
    .nav-menu li a {
      padding: 20px;
      line-height: 20px;
      display: flex;
      justify-content: flex-end;
    }
    .nav-menu li ul li a {
        
        padding-left: 30px;
    }
    
    .nav-submenu {
      position: static;
    }
  }
  
  @media screen and (min-width: 980px) {
   
    .nav-menu {
      display: block !important;
    }  
  }
  
  #nav-boton {
    position: absolute;
    left: 20px;
    top: 25px;
    cursor: pointer;
    width:20px;
    height: 10px;
    padding: 5px 15px 15px 0px;
    z-index:1;
  }
  
  #nav-boton span,
  #nav-boton span:after,
  #nav-boton span:before {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
  }
  
  #nav-boton span:before {
    top: -10px;
  }
  #nav-boton span:after {
    bottom: -10px;
  }
  
  #nav-boton.activo span {
    background-color: transparent;
  }
  
  #nav-boton.activo span:before,
  #nav-boton.activo span:after {
    top: 0;
  }
  
  #nav-boton.activo span:after {
    transform: rotate(-45deg);
  }
  
  #nav-boton.activo span:before {
    transform: rotate(45deg);
  }
  